# âš¡ Python Lambda Functions Cheat Sheet

Lambda functions (also called **anonymous functions**) are **small, inline** functions defined using the `lambda` keyword. They are often used for **quick, one-time operations**.

---
## **1ï¸âƒ£ Defining a Lambda Function**
```python
# Syntax: lambda arguments: expression
square = lambda x: x ** 2
print(square(5))  # Output: 25
```

---
## **2ï¸âƒ£ Multiple Arguments in a Lambda Function**
```python
add = lambda x, y: x + y
print(add(3, 7))  # Output: 10
```

---
## **3ï¸âƒ£ Using Lambdas with `map()`**
```python
nums = [1, 2, 3, 4]
squared = list(map(lambda x: x ** 2, nums))
print(squared)  # Output: [1, 4, 9, 16]
```

---
## **4ï¸âƒ£ Using Lambdas with `filter()`**
```python
nums = [1, 2, 3, 4, 5, 6]
even_nums = list(filter(lambda x: x % 2 == 0, nums))
print(even_nums)  # Output: [2, 4, 6]
```

---
## **5ï¸âƒ£ Using Lambdas with `sorted()`**
```python
people = [("Alice", 25), ("Bob", 30), ("Charlie", 20)]
sorted_people = sorted(people, key=lambda x: x[1])  # Sort by age
print(sorted_people)  # Output: [('Charlie', 20), ('Alice', 25), ('Bob', 30)]
```

---
## **6ï¸âƒ£ Using Lambdas with `reduce()` (from `functools`)**
```python
from functools import reduce
nums = [1, 2, 3, 4]
product = reduce(lambda x, y: x * y, nums)
print(product)  # Output: 24
```

---
## **7ï¸âƒ£ Conditional Expressions in Lambdas**
```python
max_num = lambda x, y: x if x > y else y
print(max_num(5, 8))  # Output: 8
```

---
## **8ï¸âƒ£ Assigning Lambdas to Variables**
```python
greet = lambda name: f"Hello, {name}!"
print(greet("Alice"))  # Output: Hello, Alice!
```

---
## **9ï¸âƒ£ Using Lambdas in List Comprehensions**
```python
nums = [1, 2, 3, 4]
squared = [lambda x: x ** 2 for x in nums]
print([func(x) for func, x in zip(squared, nums)])  # Output: [1, 4, 9, 16]
```

---
## **ðŸ”Ÿ When to Use and Avoid Lambdas**
### âœ… **Good Use Cases**
âœ” Short, **throwaway functions** (e.g., inside `map()`, `filter()`).
âœ” Sorting or key-based operations (`sorted()`, `max()`, `min()`).
âœ” Simple conditional expressions (`lambda x: x if x > 0 else 0`).

### âŒ **Avoid When**
âŒ The function is **too complex** (use `def` instead for readability).
âŒ You need **multiple statements** inside the function.
âŒ Debugging is required (lambdas lack meaningful names in errors).

---
## **ðŸš€ Summary of Lambda Function Concepts**
| Concept | Syntax |
|---------|--------|
| **Basic Lambda** | `lambda x: x + 2` |
| **Multiple Args** | `lambda x, y: x * y` |
| **With `map()`** | `map(lambda x: x ** 2, nums)` |
| **With `filter()`** | `filter(lambda x: x % 2 == 0, nums)` |
| **With `sorted()`** | `sorted(list, key=lambda x: x[1])` |
| **With `reduce()`** | `reduce(lambda x, y: x * y, nums)` |
| **Conditional Lambda** | `lambda x, y: x if x > y else y` |

This **cheat sheet** gives you a **quick reference** for lambda functions! ðŸš€ Happy coding! ðŸ˜Š

Suppose you have a list of temperatures in Celsius, and you need to convert each temperature to Fahrenheit using map and a lambda function.

In [ ]:
#map(lambda x: expression, iterable)
# the lambda function x is the col in columns. The map function applies the expression to the list of numbers or iterables
# the map function takes a list, processes the expression and creates a new list
# in this example it takes the celsius list, applies the conversion expression, and create a farenheit list
temp_celsius = [0,10,20,30,40,50]

temp_far = map(lambda x: x * 9/5 + 32, temp_celsius)

list(temp_far) #temp_far is an iterator which means it only makes one iterator available at once.  To see all of the items in the list, you need to use the list() function

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

You have a list of integers, and you want to filter out only the numbers that are divisible by 3.

In [ ]:
#filter(lambda x: condition, iterable)
# takes a list and returns a filtered list

integers = [1, 3, 4, 6, 7, 9, 10, 12, 15]

div_3 = filter(lambda x: x % 3 == 0, integers)

print(list(div_3))

[3, 6, 9, 12, 15]

Imagine you have a list of dictionaries representing people, and each dictionary contains a personâ€™s name and age. Sort the list of people by age in descending order using sorted and a lambda function.

In [ ]:
#sorted(iterable, key=lambda x: expression)
#takes tuples and returns sorted tuples

people = [
    {'name': 'Alice', 'age': 25},
    {'name': 'Bob', 'age': 30},
    {'name': 'Charlie', 'age': 20}
]

# Sort by age using the 'age' key in each dictionary
age_sort = sorted(people, key=lambda x: x['age'])

print(age_sort)

[{'name': 'Charlie', 'age': 20}, {'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

You have a list of prices, and you want to calculate the total price of all items using reduce and a lambda function.

Instructions:
Create a list of prices: [19.99, 24.99, 4.99, 3.50, 12.99].
Use reduce with a lambda function to calculate the total price of all items in the list.
Print the total price.

In [ ]:
#the reduce function aggregates the list

from functools import reduce

#reduce(lambda x, y: expression, iterable)
price_list = [19.99, 24.99, 4.99, 3.50, 12.99]

total_price = reduce(lambda x, y: x + y, price_list)

print(total_price) #don't need to use list even though we are using an interator becuase we are only getting the final result

66.46

use the map function

In [ ]:
integers = [0,10,20,30,40,50]

plus32 = map(lambda x: x + 32, integers)

list(plus32)

[32, 42, 52, 62, 72, 82]

use the filter operator

In [ ]:
integers = [0,7,10,13,20,28,30,33,40,46,50]

odd_num = filter(lambda x: x % 2 != 0, integers)


list(odd_num)

[7, 13, 33]

In [ ]:
integers = [0,7,10,13,20,28,30,33,40,46,50]

even_num = filter(lambda x: x % 2 == 0, integers)

list(even_num)

[0, 10, 20, 28, 30, 40, 46, 50]

In [ ]:
integers = [0,7,10,13,20,28,30,33,40,46,50]
even_num=[]

for int in integers:
  if int % 2 == 0:
    even_num.append(int)

list(even_num)

[0, 10, 20, 28, 30, 40, 46, 50]

In [ ]:
def add(x,y):
  return x + y

add(1,2)

3

In [ ]:
# this lambda function takes the num_cols in df_ajs and applies the zscore to each column. nan_policy does not include
# NaN in the calculations
df_ajs[num_cols] = df_ajs[num_cols].apply(lambda col: zscore(col, nan_policy='omit'))


# this takes the rows and compares the store number in df to stores_all_list.  If the condition is true it inserts a 0 in df['Starbucks'] and if it is false it inserts the value from the same row in df['Starbucks']
# axis is one because the function is focused on one that then looks across columns
df['Starbucks'] = df.apply(lambda row: 0 if row['StoreNo_Banner'] not in stores_all_list else row['Starbucks'], axis=1)